body {
  background-color: rgb(48, 48, 48);
}

#clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 39, 39);
  border-style: solid;
  border-color: rgb(136, 136, 136);
  border-radius: 25px;
  height: 35vh;
  width: 45vw;
}

.clock-text {
  font-family: monospace;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.clock-undertext {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.clock {
  font-family: monospace;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.countdown {
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
}
/*
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
*/
